.module{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: monospace;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.module h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.module form{
    padding: 0 40px;
    box-sizing: border-box;
}

.module .usuario{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.usuario label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}
