.perfil {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: monospace;
}

.inputSection {
    width: 300px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.post {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.postText {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: monospace;
}

.postImage {
    width: 600px;
    height: auto;
}