.container{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: monospace;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;
}

.container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver; 
}

.container form{
    padding: 0 40px;
    box-sizing: border-box;
}

.container .usuario{
    position: relative;
    border-bottom:  2px solid #adadad;
    margin: 30px 0;
}

.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.usuario label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.usuario span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .3s;
}

.usuario input:valid ~ label,
.usuario input:focus ~ label{
    top: -5px;
    color: #6C3483;
    transition: top 0.3s ease, color 0.3s ease;
}

.usuario input:focus ~ span::before,
.usuario input:focus ~ span::before{
    width: 100%;
}

.container button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}